<table id="venues">
  <thead>
    <tr>
      <th>Name</th>
      <th>Street Adress</th>
      <th>City</th>
      <th>Country</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone#</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'venue', locals: { venues: @venues } %>
  </tbody>
</table>