<table id="venues">
  <thead>
    <tr>
      <th>Name</th>
      <th>Full Address</th>
      <th>Phone #</th>
      <th>Hours</th>
      <th>Website</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'venue', locals: { venues: @venues } %>
  </tbody>
</table>
