<%= form_for @venue, url: {controller: 'venues', action: :create } do |f|  %>
<div class="fieldset">
  <div class="legend">New Venue</div>
  <%= render partial: 'form', locals: {f: f} %>
</div>
<% end %>

<%#= pagninate @venues %>

<% if @venues.present? %>
  <%= render partial: 'venues' %>
<% else %>
  <div class="no-objects-found">
    No venues found!
  </div>
<% end %>