<!-- <%#= render partial: 'spree/admin/shared/content_header'%> needs to be fix -->

<!-- <%#= pagninate @venues %> not working -->

<% if @venues.present? %>
  <%= render partial: 'venues' %>
<% else %>
  <div class="no-objects-found">
    No venues found!
  </div>
<% end %>
