<!-- added edit heading -->
<!-- <%#= render partial: 'spree/admin/shared/content_header'%> needs to be fix -->

<%= form_for @venue, url: {controller: 'venues', action: :create } do |f|  %>
<div class="fieldset">
  <div class="legend">New Venue</div>
  <%= render partial: 'form', locals: {f: f} %>
</div>
<% end %>