<div id="map"></div>

<style type="text/css">
  #map {
    width: 500px;
    height: 500px;
  }
</style>


<script>
  var map = new GMaps({
    el: '#map',
    lat: -12.043333,
    lng: -77.028333
  });
</script>