<div class="tierAlert hide">
  <div class="alert-box">
    <h4>Platinum</h4>
    <p>Visit platinum stores for the largest selection of dress styles</p>
  </div>
  <div class="alert-box">
    <h4>Gold</h4>
    <p>Visit gold stores to shop from a greater selection of dress styles</p>
  </div>
  <div class="alert-box">
    <h4>Sliver</h4>
    <p>Visit sliver stores to shop from a curated dress styles</p>
  </div>
</div>