<div class="venue-search">
  <h1>where to buy gather & gown styles</h1>
<div class="row">
  <div class="search-control">
    <div class="col-md-6">
      <form id="searchVenues">
        <input type="text" name="zipcode">
        <button class="venue-search-btn" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div> <!-- col-md-7 -->
    <div class="col-md-6">
      <div class="rank-checkboxes">
      <%= render partial: 'tier_alert' %>

        <h6 id="storeTiers">STORE TIERS <i class="fa fa-info"></i></h6>
        <label class="clicked">
          <input class="rank" type="checkbox" name="sliver" value="sliver"/>
        </label><span>sliver</span>
        <label class="clicked">
          <input class="rank" type="checkbox" name="gold" value="gold"/>
        </label><span>gold</span>
        <label class="clicked">
          <input class="rank" type="checkbox" name="platinum" value="platinum"/>
        </label><span>platium</span>
      </div> <!-- rank-checkboxes -->
    </div> <!-- col-md-5 -->
  </div> <!-- .search-control -->
</div> <!-- row -->
<div class="row">
  <div class="col-md-8">
    <%= render partial: "map" %>
  </div>
  <div class="col-md-4">
    <%= render partial: "venues_list" %>
  </div>
</div>

