<% content_for :head do %>
    <script src="http://maps.google.com/maps/api/js?sensor=false&region=US"></script>
<% end %>

<div class="venue-search">
  <h1>Locations</h1>
<div class="row">
  <div class="col-md-6">
    <form id="venues">
      <input type="text" name="zipcode">
      <input type="submit" value="fart" class="venue-search-btn">
      <!-- <i class="glyphicon glyphicon-repeat glyphicon-spin"></i> -->

    </form>
  </div>
  <div class="col-md-6">
    <% venue_ranks.each do |rank| %>
      <input class="rank" type="radio" name="rank" value="<%= rank %>"><%= rank.capitalize  %></input>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <%= render partial: "map" %>
  </div>
  <div class="col-md-4">
    <%= render partial: "venues_list" %>
  </div>
</div>

