<div class="venue-search">
  <h1>Locations</h1>
<div class="row">
  <div class="col-md-6">
    <form id="venues">
      <input type="text" name="zipcode">
      <input type="submit" value="fart" class="venue-search-btn">
      <!-- <i class="glyphicon glyphicon-repeat glyphicon-spin"></i> -->

    </form>
  </div>
  <div class="col-md-6">
    <input class="rank" type="checkbox" name="sliver" value="sliver"/>sliver
    <input class="rank" type="checkbox" name="gold" value="gold"/>gold
    <input class="rank" type="checkbox" name="platinum" value="platinum"/>platinum
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <%= render partial: "map" %>
  </div>
  <div class="col-md-4">
    <%= render partial: "venues_list" %>
  </div>
</div>

